  <script>
      validate();
  </script> 
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="form-group img ">
      <img src="../img/logo.png" class="imgestilo"></img>
    </div>
    <div class="list-group list-group-flush">
      <a href="Principal" class="list-group-item list-group-item-action bg-light">Inicio</a>
      <a href="Usuarios" class="list-group-item list-group-item-action bg-light">Usuarios</a>
      <a href="Productos" class="list-group-item list-group-item-action bg-light">Productos</a>
      <a href="Solicitudes" class="list-group-item list-group-item-action bg-light">Solicitudes</a>
      <a href="Informes" class="list-group-item list-group-item-action bg-light">Informe</a>
    </div>

    <div class="text-center py-5 mt-3 close-position">
      <a><button type="button" class="btn btn-danger " onclick="closeSession()">
          <span class="icon-video"> Cerrar Sesión </span>
        </button></a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->


  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sombra">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Cambiarcontrasena">Cambiar Contraseña</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Titulo y descripción de la pantalla -->
    <div class="container-fluid content">
      <input class="alerta_novisble" id="idUser" value="{{idUsuario}}">
      <h1 class="mt-2" id="titulobienvenido">Cambiar Contraseña</h1>
      <br>
      <p class="subtitle"> En el presente apartado podra realizar el cambio de su contraseña.</p>
    </div>
    <!--FIN Titulo y descripción de la pantalla -->

    <form id="formcambiarcontra">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-6 col-form-label">Email</label>
        <div class="col-sm-6">
          <input name="staticEmail" type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-6 col-form-label">Contraseña Actual</label>
        <div class="col-sm-6">
          <input name="antPassword" type="password" class="form-control" id="antPassword">
        </div>
      </div>
      <div class="form-group row">
        <label style="position:relative
        " for="inputPassword" class="col-sm-6 col-form-label">Nueva Contraseña</label>
        <div class="col-sm-6">
          <input name= "newPassword" type="password" class="form-control" id="newPassword">
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="button" class="btn btn-secondary botondescarga">Guardar</button>
      </div>
    </form>

  </div>
  <!-- /#page-content-wrapper -->



</div>
<!-- /#wrapper -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  window.onload = getEmail();
  window.onload = updateDataFront();
</script>