<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InventoryEx </title>
    <link rel="icon" href="/img/logomin.png">

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/estilos.css" rel="stylesheet">
  <script type="text/javascript" src="/js/test.js"></script>


</head>
<body>

            {{{ body }}}

</body>
</html>